[submodule "sdl/external/sdl"]
	path = sdl/external/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "sdl/external/sdl_image"]
	path = sdl/external/sdl_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "sdl/external/glm"]
	path = sdl/external/glm
	url = https://github.com/Michaeltetteh/glm.git
